body {
    background-color: rgb(172, 168, 168);
    margin: 0;
}

p{
    align-self: center;
}

.entete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: darkblue ;
    padding: 10px;
}

.logo {
    height: 50px;
    width: auto;
}

.notes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 25%;
    border: 3px solid black;
    background-color: white;
}
table, th, td {
    border:1px solid black;
}

.abspunition{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 25%;
    border: 3px solid black;
    background-color: white;
}

.rdv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 25%;
    border: 3px solid black;
    background-color: white;
}